main {
  flex: 1; /* Usa todo o estado definido pela flex-box criada no global */
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Da uma distância entre os elementos tanto em cima quanto embaixo */
  list-style: none; /* Retira as bolinhas que o HTML cria pra uma lista */
}

@media (max-width: 600px) { /* Design responsivo para navegadores de celular */
  main ul {
    grid-template-columns: 1fr;
  }
}